div.orderDetailPage {
    .loadingIMG {
        width: 100%;
        height: 70vh;
        line-height: 70vh;
        text-align: center;
    }
    h3 {
        padding: 1rem;
        text-align: center;
        margin: 0;
    }
    div.orderDetailPage-containers {
        width: 90%;
        margin: 0 auto;
        table {
            width: 100%;
            tr {
                th {
                    text-align: center;
                    height: 10vh;
                }
                td {
                    text-align: center;
                    width: fit-content;
                    height: 20vh;
                    img {
                        height: 100%;
                    }
                }
                td.name {
                    text-align: start;
                }
            }
        }
        h5 {
            text-align: end;
        }
        div.order-number {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-end;
            h6 {
                padding: 1rem;
                margin-left: 2rem;
            }
        }
    }
}

@media (max-width: 1050px) {
    div.orderDetailPage {
        h3 {
            padding: 1rem;
            text-align: center;
            margin: 0;
        }
        div.orderDetailPage-containers {
            width: 90%;
            margin: 0 auto;
            table {
                width: 100%;
                tr {
                    th {
                        min-width: 4rem;
                        text-align: center;
                        height: 10vh;
                        font-size: 0.5rem;
                    }
                    td {
                        text-align: center;
                        font-size: 0.5rem;
                        height: 15vh;
                        img {
                            height: 100%;
                        }
                    }
                }
            }
            h5 {
                text-align: end;
            }
            div.order-number {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: flex-end;
                h6 {
                    padding: 1rem;
                    margin-left: 2rem;
                }
            }
        }
    }
}
