div.shoppingCart {
    min-height: 130vh;
    div.container {
        max-width: 100%;

        table {
            margin: 0 auto;
            margin-top: 2rem;
            width: 80%;
            tr {
                th {
                    text-align: center;
                }
                td {
                    text-align: center;
                    button {
                        background-color: transparent;
                        border: none;
                        color: #fff;
                        width: 4rem;
                        background-color: #dc3546;
                        padding: 0.3rem;
                        border-radius: 5px;
                        &:hover {
                            background-color: #bd2e3c;
                        }
                    }
                    img {
                        height: 20vh;
                    }
                }
            }
        }
        h5.sum {
            text-align: end;
            width: 80%;
            margin: auto;
        }
        div.checkOut {
            padding: 1rem 0;
            text-align: end;
            width: 80%;
            margin: auto;
            button {
                padding: 0.8rem;
                border: none;
                border-radius: 5px;
                background-color: transparent;
                color: #fff;
                background-color: #0d6efd;
                &:hover {
                    background-color: #0c5ed8;
                }
            }
        }
    }
    div {
        h3 {
            text-align: center;
            // background-color: aqua;
            height: 100px;
            line-height: 100px;
        }
    }
}

@media (max-width: 1050px) {
    div.shoppingCart {
        div.container {
            table {
                tr {
                    th {
                        font-size: 0.5rem;
                        min-width: 4rem;
                    }
                    td {
                        font-size: 0.5rem;
                        padding: 0.5rem 0;

                        img {
                            height: 10vh;
                        }
                    }
                }
            }
            h5.sum {
                width: 100%;
            }
            div.checkOut {
                width: 100%;
            }
        }
    }
}
