.sideMenu {
    button.close {
        display: none;
    }
    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        a {
            padding: 0.5rem 1rem;
            cursor: pointer;
            &:hover {
                background-color: #cbcaca;
            }
        }
    }
}

@media (max-width: 1050px) {
    .sideMenu {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        button.close {
            display: block;
            color: #fff;
            background-color: transparent;
            border: none;
            font-size: 1.5rem;
            padding: 1rem;
        }
        position: fixed;
        top: 0;
        left: 0;
        padding: 1rem;

        height: 100vh;
        background-color: #4e4d4d;
        transform: translateX(-100%);
        transition: all 0.3s;
        font-size: 1rem;
    }
    // #side-menu-switch:checked
}
